<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sample_CMS 后台管理平台</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Sample_CMS/Public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Sample_CMS/Public/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/Sample_CMS/Public/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/Sample_CMS/Public/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Sample_CMS/Public/css/sing/common.css"/>
    <link rel="stylesheet" href="/Sample_CMS/Public/css/party/bootstrap-switch.css"/>
    <link rel="stylesheet" type="text/css" href="/Sample_CMS/Public/css/party/uploadify.css">

    <!-- jQuery -->
    <script src="/Sample_CMS/Public/js/jquery.js"></script>
    <script src="/Sample_CMS/Public/js/bootstrap.min.js"></script>
    <script src="/Sample_CMS/Public/js/dialog/layer.js"></script>
    <script src="/Sample_CMS/Public/js/dialog.js"></script>
    <script type="text/javascript" src="/Sample_CMS/Public/js/party/jquery.uploadify.js"></script>

</head>

    


