<?php
   $config = D("Basic")->select();
$navs = D("Menu")->getBarMenus();
?>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$config.title}</title>
    <meta name="keywords" content="{$config.keywords}"/>
    <meta name="description" content="{$config.description}"/>
    <link rel="stylesheet" href="/Sample_CMS/Public/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/Sample_CMS/Public/css/home/main.css" type="text/css"/>
</head>
<body>
<header id="header">
    <div class="navbar-inverse">
        <div class="container">
            <div class="navbar-header" style="margin-top: 20px">
                <a href="/Sample_CMS/"
                   style="text-decoration: none; font-weight: bolder; font-size: larger; color: white">
                    <!--<img src="/Sample_CMS/Public/images/logo.png" alt="">-->
                    Sample_CMS
                </a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/Sample_CMS/"
                    <if condition="$result['catId'] eq 0">class="curr"</if>
                    >首页</a></li>
                <foreach name="navs" item="vo">
                    <li><a href="/Sample_CMS/index.php?c=cat&id={$vo.menu_id}"
                        <if condition="$vo['menu_id'] eq $result['catId']">class="curr"</if>
                        >{$vo.name}</a></li>
                </foreach>
            </ul>
        </div>
    </div>
</header>