<include file="Index/header"/>
<?php $vo = $result['news'];?>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-9">

                <div class="news-detail">
                    <h1>{$vo.title}</h1>

                    {$vo.content}
                </div>
                <div class="page-header">
                    <h4 style="color: rgb(210, 34, 34);">发表评论
                        <small>愿您的每句评论，都能给大家的生活添色彩，带来共鸣，带来思索，带来快乐。</small>
                    </h4>
                </div>
                <div class="well well-sm">
                    <form role="form" id="formComment">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Sample_CMS 有您参与更精彩！"
                                      name="comment_text" id="textArea_comment" required></textarea>
                            <input type="hidden" name="news_id" value="{$vo.news_id}" id="hidden_news_id">
                            <input type="hidden" name="user_id" id="hidden_user_id">
                        </div>
                        <fieldset>
                            <button id="buttonComment" type="button" class="btn btn-danger" value="addComment">评论
                            </button>
                        </fieldset>
                    </form>
                </div>
                <div class="page-header">
                    <h4 style="color: rgb(210, 34, 34);">全部评论</h4>
                </div>
                <ul class="list-group" id="ulComment">
                    <!--<li class="list-group-item">-->
                    <!--<h5 class="list-group-item-heading" style="color: #0000bf">ceshi-->
                    <!--<small>test</small>-->
                    <!--</h5>-->
                    <!--<p class="list-group-item-text">dsfdfsdfgds5465</p>-->
                    <!--<span style="position: relative; top: -45px; left: 790px" class="label label-info">New</span>-->
                    <!--<div style="position: relative; top: 10px; left: 700px">-->
                    <!--<span style="color: orangered" class="glyphicon glyphicon-thumbs-up" aria-hidden="true">-->
                    <!--<span style="color: orangered" class="badge">42</span></span>-->
                    <!--<span class="glyphicon glyphicon glyphicon-thumbs-down"-->
                    <!--aria-hidden="true">-->
                    <!--<span class="badge">42</span></span>-->
                    <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>

            <include file="Index/right"/>
            <!-- end right-->
        </div>
        <hr class="featurette-divider">
        <footer>
            <p class="pull-right"><a href="#">回到顶部</a></p>
            <p style="color: grey">版权所有&copy;#312 中山大学新华学院（中大v-lab） 2016</p>
        </footer>
    </div>
</section>
</body>
<script src="/Sample_CMS/Public/js/jquery.js"></script>
<script src="/Sample_CMS/Public/js/bootstrap.min.js"></script>
<script src="/Sample_CMS/Public/js/dialog/layer.js"></script>
<script src="/Sample_CMS/Public/js/dialog.js"></script>
<script src="/Sample_CMS/Public/js/isLogin.js"></script>
<script src="/Sample_CMS/Public/js/home/common.js"></script>
<script>
    $(document).ready(function () {
        refresh();
    });
</script>
</html>